LANGSMITH_API_KEY=your-api-key
LANGSMITH_PROJECT=agentic-ai

OPENAI_API_KEY=your-api-key
ANTHROPIC_API_KEY=your-api-key
TAVILY_API_KEY=your-api-key
E2B_API_KEY=your-api-key

OLLAMA_BASE_URL=http://127.0.0.1:11434
UNSLOTH_BASE_URL=http://127.0.0.1:8080/v1

REASONING=true
MAX_STEPS=5

